.public-main {
	padding: 0px;
	margin: 0px;
	width: 100%;
	overflow-x: hidden;
	overflow-y: auto;
}

@import "side-nav";
@import "top-nav";
@import "info-nav";
@import "mobile-nav";

.public-body {
	width: 100%;
	min-height: 100vh;
	overflow-x: hidden;
	display: flex;
	flex-direction: column;
	flex: 1;
	overflow-y: auto;

	&::-webkit-scrollbar {
		width: 0px;
		color: rgba(0, 0, 0, 0.856) $default-dashboard-sidebar-background;
		outline: none;
	}
}
