&__about-us {
	overflow-x: hidden;
	width: 100%;
	padding: 100px 100px 100px 100px;
	@include media-breakpoint-down(md) {
		padding: 100px 20px 100px 20px;
	}
	display: flex;
	align-items: center;
	justify-content: flex-end;
	flex-direction: column;

	&__header {
		display: flex;
		align-items: center;
		justify-content: center;
		text-align: center;
		z-index: 1;
		color: $default-primary-color;
		opacity: 0.8;
		font-size: $display-font-size-8;
		font-weight: $font-weight-heavy-bold;
	}

	&__head-content {
		z-index: 1;
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: $display-font-size-10;
		text-align: center;
		margin: 25px 0px 25px 0px;
		span {
			width: 80%;
		}

		@include media-breakpoint-down(md) {
			span {
				width: 95%;
				text-align: justify;
				text-align-last: center;
			}
		}
	}
	&__body {
		z-index: 1;
		@include flex-center();
		flex-direction: column;
		margin: 30px 0px 0px 0px;

		&__head-title {
			width: 100%;
			display: flex;
			border-left-color: $default-theme-loader-color;
			align-items: center;
			justify-content: center;
			padding: 5px 0px 5px 25px;
			svg {
				font-size: 25px !important;
				opacity: 1;
				color: $default-theme-loader-color;
			}

			.left {
				margin-right: 5px;
			}
			.right {
				margin-left: 5px;
			}
			span {
				border-bottom-style: solid;
				border-bottom-width: 1px;
				background-color: rgba(0, 0, 0, 0);
				padding-bottom: 5px;
				padding-top: 5px;
				padding-left: 0px;
				padding-right: 0px;
				border-bottom-color: $default-theme-loader-color;
				font-size: $display-font-size-10;
				@include media-breakpoint-down(md) {
					font-size: $display-font-size-11;
					text-align: center;
				}
				color: $default-primary-color;
				opacity: 0.8;
				font-weight: $font-weight-bold;
			}
		}

		.separator {
			width: 100%;
			div {
				height: 4px;
				margin-left: 25px;
				margin-top: 5px;
				width: 20%;
				background-color: $default-theme-loader-color;
			}
		}

		&__top {
			display: flex;
			@include media-breakpoint-down(md) {
				flex-direction: column;
			}
			align-items: flex-start;
			justify-content: flex-start;
			padding: 20px 0px 20px 0px;
			width: 95%;

			&__item {
				width: 33%;

				@include media-breakpoint-down(md) {
					width: 100%;
				}
				display: flex;
				flex-direction: row;
				align-items: flex-start;
				justify-content: flex-start;

				@include media-breakpoint-down(md) {
					margin: 15px 0px 15px 0px;
				}

				&__A {
					img {
						width: 90px;
						height: 105px;
					}
					@include media-breakpoint-down(md) {
						img {
							width: 90px;
							height: 100px;
						}
					}
				}

				&__B {
					display: flex;
					flex-direction: column;
					padding-left: 10px;
					margin-top: 10px;

					.head {
						font-weight: bold;
						margin: 5px;
						width: 90%;
						line-height: 20px;
					}

					.body {
						font-size: $display-font-size-11;
						margin: 5px;
						width: 90%;
						line-height: 20px;
					}
				}
			}
		}

		&__bottom {
			z-index: 1;
			padding: 50px 0px 30px 0px;
			@include flex-center();
		}
	}

	.about-us-background-pattern {
		z-index: -1;
		width: 100%;
		height: 100%;
		margin-bottom: -100px;
		display: flex;
		align-items: flex-end;
		justify-content: flex-end;
		position: absolute;

		img {
			width: 100%;
			height: 100%;
		}
	}
}
