&__faqs {
	@include flex-center();
	padding: 100px 0px 20px 0px;
	flex-direction: column;

	&__header {
		display: flex;
		align-items: center;
		justify-content: center;
		text-align: center;
		z-index: 1;
		color: $default-primary-color;
		opacity: 0.8;
		font-size: $display-font-size-8;
		font-weight: $font-weight-heavy-bold;
	}

	&__body {
		@include media-breakpoint-down(md) {
			width: 90%;
		}
		width: 80%;
		padding: 30px 50px 30px 50px;
		min-height: 500px;
		margin-top: 40px;
		box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

		&__item {
			display: flex;
			flex-direction: column;
			margin-top: 20px;

			&__question {
				display: flex;
				align-items: center;
				justify-content: space-between;
				svg {
					font-size: 30px;
					color: $default-theme-loader-color;
				}
				div {
					@include media-breakpoint-down(md) {
						font-size: $display-font-size-11;
						text-align: left;
					}
					font-size: $display-font-size-10;
					font-weight: $font-weight-bold;
					cursor: pointer;
					opacity: 0.8;
					&:hover {
						opacity: 1;
					}
					svg {
						font-size: 25px;
					}
				}
			}

			.answer {
				@include media-breakpoint-down(md) {
					margin-left: 0px;
				}
				margin-left: 30px;
				width: 80%;
				font-size: $display-font-size-11;
				margin-top: 15px;
				margin-bottom: 15px;
				opacity: 0;
				max-height: 0px;
				transition: all 0.3s ease-in-out;
			}

			.active {
				opacity: 1;
				max-height: 300px;
			}

			.separator {
				width: 100%;
				height: 2px;
				background-color: rgba(0, 0, 0, 0.1);
			}
		}
	}

	&__footer {
		padding: 70px 0px 0px 0px;
		display: flex;
		flex-direction: column;
		width: 100%;
		align-items: center;
		justify-content: center;

		h4 {
			font-size: $display-font-size-7;
			font-weight: $font-weight-heavy-bold;
			margin: 10px 0px 10px 0px;
		}

		span {
			font-size: $display-font-size-11;
			margin: 10px 0px 10px 0px;
			width: 45%;
			@include media-breakpoint-down(md) {
				width: 70%;
			}
			text-align: center;
		}

		button {
			margin: 10px 0px 0px 0px;
		}
	}
}
