.mobile-modal {
	.modal-dialog {
		@include media-breakpoint-down(lg) {
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			max-width: 100% !important;
			margin: 0;
			transform: translateY(100%) !important;
			.modal-content {
				border: none;
				border-radius: 0.3rem 0.3rem 0 0;
			}
		}
	}
}

.mobile-modal.modal.fade .modal-dialog {
	@include media-breakpoint-down(lg) {
		position: fixed;
		bottom: 0;
		z-index: 1500;
		transition: 0.3s ease-out;
	}
}

.modal.show {
	@include media-breakpoint-down(lg) {
		overflow: hidden;
		.modal-dialog {
			transform: translateY(0%) !important;
			min-height: 0px;
		}
	}
}

.mobile-modal {
	@include media-breakpoint-down(lg) {
		z-index: 1166;
	}
}
.mobile-modal.show {
	@include media-breakpoint-down(lg) {
		transition: none;
	}
}
