&__our-clients {
	width: 100%;
	background-color: rgba(255, 255, 255, 0);
	padding: 0px 100px 100px 100px;
	@include media-breakpoint-down(md) {
		padding: 30px 20px 100px 20px;
	}
	@include flex-start();
	flex-direction: column;

	&__header {
		display: flex;
		align-items: center;
		justify-content: center;
		text-align: center;
		z-index: 1;
		color: $default-primary-color;
		opacity: 0.8;
		font-size: $display-font-size-8;
		font-weight: $font-weight-heavy-bold;
	}

	&__clients {
		margin-top: 50px;
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-wrap: wrap;

		&__client {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			margin: 0px 20px 0px 20px;
			width: 130px;
			opacity: 0.8;
			height: 130px;

			&__top {
				width: 80px;
				height: 80px;
				border-radius: 50%;
				border-style: solid;
				border-width: 1px;
				border-color: rgba(241, 193, 45, 0.8);
				background-color: rgba(241, 193, 45, 0.2);
				display: flex;
				align-items: center;
				justify-content: center;
				svg {
					font-size: 35px;
					z-index: 1000;
					opacity: 0.9;
					color: $default-primary-color;
				}
			}

			&__bottom {
				cursor: default;
				padding: 10px 0px 0px 0px;
			}

			&:hover {
				opacity: 1;
			}
		}
	}
}
