.about-us {
	background-color: $default-secondary-color;
	overflow-x: hidden;
	min-height: 100vh;
	padding: 70px 0px 0px 0px;
	display: flex;
	z-index: -1;
	align-items: flex-start;
	justify-content: flex-start;
	flex-direction: column;

	&__bottom {
		@include flex-center();
		padding: 20px 0px 50px 0px;
		a {
			height: 50px;
		}
		svg {
			margin-left: 5px;
			font-size: 25px;
		}
	}

	&__cover {
		width: 100%;
		height: 400px;
		@include flex-center();
		background-position: center;
		background-size: 100%;
		overflow: hidden;

		&__overlay {
			position: absolute;
			width: 100%;
			height: 400px;
			opacity: 0.2;
			z-index: 2000;
			background-color: $default-secondary-color;
		}

		&__content {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			color: $default-secondary-color;
			z-index: 3000;

			h3 {
				font-weight: $font-weight-heavy-bold;
				font-size: 50px;
			}
			span {
				font-weight: $font-weight-semi-bold;
			}
		}
	}

	&__body {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		@include media-breakpoint-down(md) {
			padding: 0px 10px 0px 10px;
			z-index: 1000;
		}
		padding: 0px 80px 0px 80px;

		&__intro {
			margin-top: -70px;
			margin-bottom: 20px;
			z-index: 100000;
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			align-items: center;
			justify-content: center;
			padding: 0px 0px 100px 0px;
			width: 100%;

			&__item {
				width: 340px;
				margin: 0px 15px 0px 15px;
				@include media-breakpoint-down(md) {
					width: 330px;
					margin: 0px 10px 0px 10px;
				}
				padding: 35px;

				max-height: 400px;
				min-height: 400px;
				background-color: #fdfdfd;
				display: flex;
				flex-direction: column;
				box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

				&__divider {
					width: 25%;
					height: 7px;
					background-color: $default-theme-loader-color;
				}

				&__header {
					font-weight: $font-weight-bold;
					color: $default-primary-color;
					padding: 20px 0px 20px 0px;
					font-size: $display-font-size-9;
				}

				&__content {
					font-size: $display-font-size-10;
					color: $default-primary-color;
				}
			}
		}

		&__our-story {
			display: flex;
			align-items: center;
			justify-content: center;
			flex-direction: column;
			&__header {
				font-size: $display-font-size-6;
				font-weight: $font-weight-bold;
			}

			.decorator {
				// position: absolute;
				// border-style: solid;
				// border-width: 2px;
				width: 100%;
				height: 100px;
				display: flex;
				align-items: center;
				justify-content: center;

				&__A {
					// border-style: solid;
					// border-width: 2px;
					width: 100%;
					position: absolute;
					display: flex;
					align-items: center;
					justify-content: center;
					font-size: 150px;
					padding: 0px;
					max-height: 100px;
					opacity: 0.3;
					margin-top: 60px;
					z-index: -1;
					font-weight: $font-weight-heavy-bold;
					font-family: $default-font-family-2;
				}

				&__B {
					z-index: -1;
					opacity: 0.3;
					margin-right: 70px;
					bottom: 0px;
					font-size: 200px;
					font-weight: $font-weight-heavy-bold;
					font-family: $default-font-family-2;
				}
			}

			.separator {
				width: 180px;
				border-radius: 10px;
				height: 5px;
				margin-top: 10px;
				background-color: $default-theme-loader-color;
			}

			.back-img {
				border-style: solid;
				border-width: 2px;
				width: 100%;
				height: 100%;
				position: absolute;
			}

			&__body {
				text-align: justify;
				padding: 0px 0px 20px 0px;
				@include media-breakpoint-down(md) {
					padding: 0px 10px 20px 10px;
					font-size: $display-font-size-11;
				}
			}
		}

		&__our-mission {
			width: 120%;
			margin-top: 70px;
			display: flex;
			@include media-breakpoint-down(md) {
				flex-direction: column;
				margin-top: 30px;
			}
			flex-direction: row;
			background-color: #f2f5fb;
			flex: 1;

			&__right {
				@include media-breakpoint-down(md) {
					flex: 1;
					width: 100%;
				}
				padding: 40px;
				width: 80%;
				display: flex;
				flex: 0.5;
				flex-direction: column;
				align-items: flex-start;
				justify-content: flex-start;
				text-align: left;
				.separator {
					width: 180px;
					border-radius: 10px;
					height: 5px;
					margin-top: 10px;
					background-color: $default-theme-loader-color;
				}

				&__header {
					font-size: $display-font-size-6;
					font-weight: $font-weight-bold;
					@include media-breakpoint-down(md) {
						font-size: $display-font-size-7;
					}
				}

				&__content {
					padding-top: 30px;
					@include media-breakpoint-down(md) {
						width: 100%;
						padding-top: 20px;
					}
					width: 80%;

					ul {
						padding: 0px;
						li {
							svg {
								color: $default-theme-loader-color;
								font-size: 23px;
							}
							font-size: 15px;
							font-weight: $font-weight-semi-bold;
							padding-right: 0px;
							margin: 15px 0px 15px 0px;
						}
					}
				}
			}

			&__left {
				padding: 40px 0px 40px 0px;
				display: flex;
				flex-direction: column;
				flex: 0.5;
				@include media-breakpoint-down(md) {
					flex: 1;
					width: 100%;
					align-items: center;
					padding: 0px 0px 0px 0px;
				}
				align-items: flex-end;
				justify-content: space-between;
				.overlay {
					position: absolute;
					background-color: $default-secondary-color;
					opacity: 0.5;
					width: 100%;
					height: 100%;
				}

				img {
					margin-top: 110px;
					border-radius: 5px;
					width: 80%;
					@include media-breakpoint-down(md) {
						height: 300px;
					}
					height: 400px;
				}
			}
		}

		&__our-team {
			box-sizing: border-box;
			padding: 100px 0px 50px 0px;
			display: flex;
			min-height: 500px;
			width: 100%;
			flex: 1;
			flex-direction: row;
			@include media-breakpoint-down(md) {
				flex-direction: column-reverse;
			}

			&__left {
				box-sizing: border-box;
				display: flex;
				flex-direction: column;
				align-items: flex-end;
				@include media-breakpoint-down(md) {
					align-items: flex-start;
					padding: 0px 20px 0px 20px;
				}
				justify-content: flex-start;
				flex: 0.5;
				width: 100%;
				min-height: 500px;
				padding: 20px;

				&__header {
					font-size: $display-font-size-6;
					font-weight: $font-weight-bold;
				}

				.separator {
					width: 180px;
					border-radius: 10px;
					height: 5px;
					margin-top: 10px;
					background-color: $default-theme-loader-color;
				}

				&__body {
					padding: 20px 0px 0px 0px;
					text-align: right;
					@include media-breakpoint-down(md) {
						text-align: justify;
					}
				}
			}

			&__right {
				box-sizing: border-box;
				display: flex;
				flex: 0.5;
				width: 100%;
				min-height: 500px;
				padding: 20px;

				div {
					@include media-breakpoint-down(md) {
						height: 400px;
						margin-top: 0px;
					}
					margin-top: 100px;
					border-radius: 5px;
					width: 100%;
					height: 550px;
					background-size: 100%;
					background-position: center;
				}
			}
		}

		&__future-prospects {
			z-index: 3000000;
			width: 100%;
			min-height: 400px;
			padding: 100px 20px 50px 20px;
			@include flex-center();

			&__dialog {
				padding: 30px;
				width: 100%;
				min-height: 300px;
				border-radius: 0px;
				display: flex;
				align-items: center;
				justify-content: center;
				flex-direction: column;
				flex: 1;
				box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

				&__top {
					display: flex;
					align-items: center;
					justify-content: center;
					flex-direction: column;
					text-align: center;

					&__header {
						@include media-breakpoint-down(md) {
							text-align: left;
						}
						font-size: $display-font-size-6;
						color: $default-theme-loader-color;
						font-weight: $font-weight-heavy-bold;
						span {
							color: $default-primary-color;
						}
					}
					&__body {
						@include media-breakpoint-down(md) {
							text-align: justify;
						}
						padding: 20px 0px 20px 0px;
					}
				}
			}
		}
	}
}
