.blog {
	padding: 80px 110px 70px 110px;
	@include media-breakpoint-down(md) {
		padding: 70px 20px 30px 20px;
	}
	min-height: 100vh;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;

	&__cover {
		@include media-breakpoint-down(md) {
			height: 300px;
		}
		width: 100%;
		height: 450px;
		@include flex-center();
		background-position: center;
		background-size: 100%;
		overflow: hidden;

		&__overlay {
			position: absolute;
			width: 100%;
			height: 500px;
			opacity: 0.3;
			z-index: 500;
			background-color: $default-secondary-color !important;
		}

		&__content {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			color: $default-secondary-color;
			z-index: 600;

			h3 {
				font-weight: $font-weight-heavy-bold;
				font-size: 50px;
			}
			span {
				font-weight: $font-weight-semi-bold;
			}
		}
	}

	&__body {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: flex-start;
		padding: 40px 130px 40px 130px;
		@include media-breakpoint-down(md) {
			padding: 40px 10px 40px 10px;
		}

		.separator {
			width: 180px;
			border-radius: 10px;
			height: 5px;
			margin-top: 10px;
			background-color: $default-theme-loader-color;
		}

		&__header {
			width: 80%;
			@include media-breakpoint-down(md) {
				width: 90%;
				font-size: $display-font-size-7;
			}
			font-size: $display-font-size-6;
			font-weight: $font-weight-bold;
			color: $default-primary-color;
			opacity: 0.8;
		}

		&__content {
			padding: 15px 0px 15px 0px;
			font-size: 17px;
			@include media-breakpoint-down(md) {
				font-size: 17px;
			}
			color: $default-primary-color;
			opacity: 0.8;
			font-weight: $font-weight-semi-bold;
			text-align: justify;

			.quote {
				width: 100%;
				margin: 20px 0px 0px 0px;
				@include media-breakpoint-down(md) {
					padding: 15px 15px 15px 15px;
				}
				min-height: 200px;
				display: flex;
				align-items: center;
				justify-content: center;
				font-weight: $font-weight-heavy-bold;
				background-color: rgba(0, 0, 0, 0.05);
				border-radius: 10px;
				color: $default-primary-color;

				span {
					opacity: 1;
					font-size: $display-font-size-7;
					@include media-breakpoint-down(md) {
						font-size: $display-font-size-8;
					}
				}

				b {
					font-weight: $font-weight-heavy-bold;
					color: $default-theme-loader-color;
				}
			}
		}
	}
}
