.expertise {
	background-color: $default-secondary-color;
	overflow-x: hidden;
	min-height: 100vh;
	padding: 70px 0px 0px 0px;
	display: flex;
	z-index: -1;
	align-items: flex-start;
	justify-content: flex-start;
	flex-direction: column;

	&__cover {
		width: 100%;
		height: 350px;
		@include flex-center();
		background-position: center;
		background-size: 100%;
		overflow: hidden;

		&__overlay {
			position: absolute;
			width: 100%;
			height: 350px;
			opacity: 0.2;
			z-index: 2000;
			background-color: $default-secondary-color;
		}

		&__content {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			color: $default-secondary-color;
			z-index: 3000;

			h3 {
				font-weight: $font-weight-heavy-bold;
				font-size: 50px;
			}
			span {
				font-weight: $font-weight-semi-bold;
			}
		}
	}
	&__intro {
		background-color: #fff;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		padding: 50px 100px 70px 100px;
		.separator {
			width: 180px;
			border-radius: 10px;
			height: 5px;
			margin-top: 2px;
			margin-bottom: 10px;
			background-color: $default-theme-loader-color;
		}

		&__header {
			color: $default-primary-color;
			font-weight: $font-weight-heavy-bold;
			font-size: $display-font-size-6;
		}

		&__body {
			color: $default-primary-color;
			width: 70%;
			text-align: center;
		}
	}

	&__sectionA {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: center;
		padding: 50px 100px 70px 100px;
		@include media-breakpoint-down(md) {
			padding: 50px 20px 70px 20px;
		}

		&__header {
			font-size: $display-font-size-7;
			font-weight: $font-weight-heavy-bold;
			padding: 10px;
			width: 60%;
			@include media-breakpoint-down(md) {
				width: 90%;
				font-size: $display-font-size-8;
			}
			color: $default-primary-color;
			opacity: 0.8;
		}

		.separator {
			margin: 10px;
			width: 100px;
			height: 4px;
			background-color: $default-theme-loader-color;
			border-radius: 10px;
		}

		&__sub-header {
			font-size: $display-font-size-10;
			font-weight: $font-weight-semi-bold;
			width: 60%;
			@include media-breakpoint-down(md) {
				width: 90%;
			}
			padding: 10px;
		}

		&__items {
			display: flex;
			flex-wrap: wrap;
			flex-direction: row;
			align-items: flex-start;
			justify-content: flex-start;
			padding: 50px 0px 50px 0px;

			&__item {
				min-height: 410px;
				padding: 10px;
				width: 374px;
				@include media-breakpoint-down(md) {
					width: 340px;
				}
				display: flex;
				align-items: flex-start;
				justify-content: flex-start;
				flex-direction: column;

				&__content {
					min-height: 400px;
					padding: 30px;
					background-color: rgba(0, 0, 0, 0.04);

					&__top-separator {
						@include flex-center();
						width: 50px;
						height: 50px;
						border-radius: 50%;
						// background-color: $default-theme-loader-color;

						svg {
							color: $default-theme-loader-color;
							font-size: 30px;
						}
					}

					&__image {
						margin-top: 10px;
						margin-bottom: 0px;
						width: 100%;
						height: 160px;
						background-size: 100%;
						border-radius: 0px;
						opacity: 0.9;
					}

					&__header {
						padding: 10px 0px 10px 0px;
						font-size: $display-font-size-8;
						font-weight: $font-weight-bold;
					}

					&__body {
						font-size: $display-font-size-11;
					}
				}
			}
		}
	}
}
