.expertise {
	background-color: $default-secondary-color;
	overflow-x: hidden;
	min-height: 100vh;
	padding: 70px 0px 0px 0px;
	display: flex;
	z-index: -1;
	align-items: flex-start;
	justify-content: flex-start;
	flex-direction: column;

	&__cover {
		width: 100%;
		height: 350px;
		@include flex-center();
		background-position: center;
		background-size: 100%;
		overflow: hidden;

		&__overlay {
			position: absolute;
			width: 100%;
			min-height: 350px;
			opacity: 0.3;
			z-index: 2000;
			background-color: $default-secondary-color;
		}

		&__content {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			color: $default-secondary-color;
			z-index: 3000;

			h3 {
				font-weight: $font-weight-heavy-bold;
				font-size: 50px;
				// text-shadow: 1px 1px gray;
			}
			span {
				font-weight: $font-weight-semi-bold;
				// text-shadow: 1px 1px gray;
			}
		}
	}
	&__intro {
		background-color: #fff;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		padding: 50px 100px 70px 100px;

		@include media-breakpoint-down(md) {
			padding: 50px 20px 70px 20px;
		}

		.separator {
			width: 180px;
			border-radius: 10px;
			height: 5px;
			margin-top: 2px;
			margin-bottom: 10px;
			background-color: $default-theme-loader-color;
		}

		&__header {
			opacity: 0.9;
			color: $default-primary-color;
			font-weight: $font-weight-heavy-bold;
			font-size: $display-font-size-6;
		}

		&__body {
			color: $default-primary-color;
			width: 70%;
			@include media-breakpoint-down(md) {
				text-align: justify;
				width: 90%;
			}
			text-align: center;
		}
	}

	&__sectionA {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		padding: 50px 100px 70px 100px;
		width: 100%;
		@include media-breakpoint-down(md) {
			padding: 50px 20px 70px 20px;
		}

		&__header {
			font-size: $display-font-size-7;
			font-weight: $font-weight-heavy-bold;
			padding: 10px;
			@include media-breakpoint-down(md) {
				width: 90%;
				font-size: $display-font-size-8;
			}
			color: $default-primary-color;
			opacity: 0.9;
		}

		.separator {
			margin: 10px;
			width: 100px;
			height: 4px;
			background-color: $default-theme-loader-color;
			border-radius: 10px;
		}

		&__sub-header {
			font-size: $display-font-size-10;
			font-weight: $font-weight-semi-bold;
			width: 60%;
			text-align: center;
			@include media-breakpoint-down(md) {
				width: 90%;
				text-align: justify;
			}
			padding: 10px;
		}

		&__items {
			display: flex;
			flex-wrap: wrap;
			flex-direction: row;
			align-items: center;
			justify-content: flex-start;
			padding: 50px 0px 50px 0px;
			@include media-breakpoint-down(md) {
				justify-content: center;
			}

			&__item {
				min-height: 410px;
				padding: 10px;
				width: 374px;
				@include media-breakpoint-down(md) {
					width: 340px;
				}
				display: flex;
				align-items: flex-start;
				justify-content: flex-start;
				flex-direction: column;

				&__content {
					min-height: 400px;
					padding: 30px;
					background-color: rgba(0, 0, 0, 0.04);
					&__top-separator {
						@include flex-center();
						width: 50px;
						height: 50px;
						border-radius: 50%;
						// background-color: $default-theme-loader-color;

						svg {
							color: $default-theme-loader-color;
							font-size: 30px;
						}
					}

					&__image {
						margin-top: 10px;
						margin-bottom: 0px;
						width: 100%;
						height: 120px;
						background-size: 100%;
						border-radius: 0px;
						opacity: 0.9;
					}

					&__header {
						padding: 10px 0px 10px 0px;
						font-size: $display-font-size-8;
						font-weight: $font-weight-bold;
					}

					&__body {
						font-size: $display-font-size-11;
					}
				}
			}
		}
	}

	&__sectionB {
		display: flex;
		flex-direction: column;
		padding: 20px 100px 20px 100px;

		@include media-breakpoint-down(md) {
			padding: 20px 20px 20px 20px;
			align-items: flex-start;
			justify-content: flex-start;
		}

		width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		&__header {
			font-size: $display-font-size-7;
			font-weight: $font-weight-heavy-bold;
			padding: 10px;
			color: $default-primary-color;
			opacity: 0.9;
		}
		.separator {
			margin: 10px;
			width: 100px;
			height: 4px;
			background-color: $default-theme-loader-color;
			border-radius: 10px;
		}

		&__sub-header {
			font-size: $display-font-size-10;
			font-weight: $font-weight-semi-bold;
			width: 70%;
			text-align: center;
			@include media-breakpoint-down(md) {
				width: 100%;
				text-align: justify;
			}
			padding: 10px;
		}

		&__residental {
			padding: 100px 10px 30px 10px;
			display: flex;
			align-items: flex-start;
			justify-content: center;
			@include media-breakpoint-down(md) {
				flex-direction: column;
				padding: 20px 10px 20px 10px;
			}
			flex: 1;
			width: 100%;
			min-height: 400px;

			&__left {
				display: flex;
				flex-direction: column;
				align-items: flex-start;
				justify-content: flex-start;
				flex: 0.5;
				@include media-breakpoint-down(md) {
					flex: 1;
					width: 100%;
					padding-top: 0px;
				}
				min-height: 350px;
				padding-top: 90px;

				.residental-image {
					margin: 10px 0px 10px 0px;
					border-top-left-radius: 20px;
					border-bottom-left-radius: 20px;
					width: 95%;
					@include media-breakpoint-down(md) {
						height: 190px;
						border-top-left-radius: 10px;
						border-bottom-left-radius: 10px;
						border-top-right-radius: 10px;
						border-bottom-right-radius: 10px;
					}
					height: 340px;
					background-size: 100%;
					background-position: cover;
				}
			}

			&__right {
				padding: 5px;
				width: 100%;
				display: flex;
				flex: 0.5;
				flex-direction: column;
				align-items: flex-start;
				justify-content: flex-start;
				text-align: left;
				@include media-breakpoint-down(md) {
					padding-top: 15px;
				}

				&__separator {
					width: 180px;
					border-radius: 10px;
					height: 5px;
					margin-top: 10px;
					background-color: $default-theme-loader-color;
				}

				&__header {
					font-size: $display-font-size-6;
					font-weight: $font-weight-bold;
				}

				&__content {
					padding-top: 10px;
					width: 100%;

					ul {
						padding: 0px;
						text-align: justify;
						li {
							svg {
								color: $default-theme-loader-color;
								font-size: 23px;
							}
							font-size: 15px;
							font-weight: $font-weight-semi-bold;
							padding-right: 0px;
							margin: 15px 0px 15px 0px;

							span {
								font-weight: $font-weight-bold;
							}
						}
					}
				}
			}
		}

		&__commercial {
			padding: 50px 10px 30px 10px;
			display: flex;
			align-items: flex-start;
			justify-content: center;
			@include media-breakpoint-down(md) {
				flex-direction: column;
				padding: 20px 10px 20px 10px;
			}
			flex: 1;
			width: 100%;
			min-height: 400px;

			&__right {
				display: flex;
				flex-direction: column;
				align-items: flex-end;
				justify-content: flex-end;
				flex: 0.53;
				min-height: 350px;
				padding-top: 90px;
				@include media-breakpoint-down(md) {
					flex: 1;
					width: 100%;
					padding-top: 0px;
				}

				.residental-image {
					margin: 10px 0px 10px 0px;
					border-top-right-radius: 20px;
					border-bottom-right-radius: 20px;
					width: 95%;
					height: 340px;
					background-size: 100%;
					background-position: cover;
					@include media-breakpoint-down(md) {
						height: 190px;
						border-top-left-radius: 10px;
						border-bottom-left-radius: 10px;
						border-top-right-radius: 10px;
						border-bottom-right-radius: 10px;
					}
				}
			}

			&__left {
				padding: 5px;
				width: 100%;
				display: flex;
				flex: 0.47;
				flex-direction: column;
				align-items: flex-end;
				justify-content: flex-end;
				text-align: left;

				&__separator {
					width: 180px;
					border-radius: 10px;
					height: 5px;
					margin-top: 10px;
					background-color: $default-theme-loader-color;
				}

				&__header {
					font-size: $display-font-size-6;
					font-weight: $font-weight-bold;
				}

				&__content {
					padding-top: 10px;
					width: 100%;

					ul {
						padding: 0px;
						text-align: justify;
						li {
							direction: rtl;
							display: flex;
							flex-direction: column;
							align-items: flex-start;
							justify-content: flex-start;
							svg {
								color: $default-theme-loader-color;
								font-size: 23px;
							}
							font-size: 15px;
							font-weight: $font-weight-semi-bold;
							padding-right: 0px;
							margin: 15px 0px 15px 0px;

							span {
								direction: ltr;
								font-weight: $font-weight-bold;
							}
						}
					}
				}
			}
		}

		&__industrial {
			padding: 50px 10px 30px 10px;
			display: flex;
			align-items: flex-start;
			justify-content: center;
			flex: 1;
			width: 100%;
			min-height: 400px;
			@include media-breakpoint-down(md) {
				flex-direction: column-reverse;
				padding: 20px 10px 20px 10px;
			}

			&__left {
				display: flex;
				flex-direction: column;
				align-items: flex-start;
				justify-content: flex-start;
				flex: 0.5;
				min-height: 350px;
				padding-top: 90px;
				@include media-breakpoint-down(md) {
					flex: 1;
					width: 100%;
					padding-top: 0px;
				}

				.industrial-image {
					margin: 10px 0px 10px 0px;
					border-top-left-radius: 20px;
					border-bottom-left-radius: 20px;
					width: 95%;
					height: 340px;
					background-size: 100%;
					background-position: cover;
					@include media-breakpoint-down(md) {
						height: 190px;
						border-top-left-radius: 10px;
						border-bottom-left-radius: 10px;
						border-top-right-radius: 10px;
						border-bottom-right-radius: 10px;
					}
				}

				ul {
					padding: 15px 15px 0px 0px;
					text-align: justify;
					li {
						svg {
							color: $default-theme-loader-color;
							font-size: 23px;
						}
						font-size: 15px;
						font-weight: $font-weight-semi-bold;
						padding-right: 0px;
						margin: 15px 0px 15px 0px;

						span {
							font-weight: $font-weight-bold;
						}
					}
				}
			}

			&__right {
				padding: 5px;
				width: 100%;
				display: flex;
				flex: 0.5;
				flex-direction: column;
				align-items: flex-start;
				justify-content: flex-start;
				text-align: left;

				&__separator {
					width: 180px;
					border-radius: 10px;
					height: 5px;
					margin-top: 10px;
					background-color: $default-theme-loader-color;
				}

				&__header {
					font-size: $display-font-size-6;
					font-weight: $font-weight-bold;
				}

				&__content {
					padding-top: 10px;
					width: 100%;

					ul {
						padding: 0px;
						text-align: justify;
						li {
							svg {
								color: $default-theme-loader-color;
								font-size: 23px;
							}
							font-size: 15px;
							font-weight: $font-weight-semi-bold;
							padding-right: 0px;
							margin: 15px 0px 15px 0px;

							span {
								font-weight: $font-weight-bold;
							}
						}
					}
				}
			}
		}
	}
}
