.products {
	padding: 70px 0px 70px 0px;
	display: flex !important;
	flex-direction: column;
	align-items: flex-start !important;
	justify-content: flex-start !important;

	&__search {
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		margin-top: -20px;
		z-index: 100;

		div {
			height: 60px;
			width:60px;
			display:flex;
			align-items:center;
			justify-content:center;
			background-color:white;
			border-radius:10px;
			margin-right:5px;
			cursor:pointer;
			box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
			svg {
				font-size:20px;
				opacity:0.8;
				color:$default-primary-color;
			}

			&:hover {
             svg {
				 opacity:1
			 }
			}
		}

		input {
			border-style: none;
			box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
			width: 50%;
			@include media-breakpoint-down(md) {
				width: 80%;
			}
			height: 65px;
			padding-left: 30px;
			border-radius: 10px;
		}
	}

	&__body {
		width: 100%;
		padding: 20px 50px 50px 50px;
		display: flex;	
		
		@include media-breakpoint-down(md) {
			padding: 20px 20px 50px 20px;
		}

        &__cat{
			width:100%;
			display:flex;
			flex-direction:column;

		&__intro {
			width:100%;
			padding:30px 0px 10px 0px;
			display:flex;
			flex-direction:column;
			align-items:center;
			justify-content:center;
			.separator {
			width: 180px;
			border-radius: 10px;
			height: 5px;
			margin-top: 2px;
			margin-bottom: 10px;
			background-color: $default-theme-loader-color;
		}

			span {
				color:$default-primary-color;
				opacity:0.7;
				font-size:$display-font-size-8;
				font-weight:$font-weight-bold;
			}
		}

		&__category-mode {
			display:flex;
			width:100%;
			flex-direction:row;
			align-items:center;
			justify-content:center;
			flex-wrap:wrap;

			&__item {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: space-between;
			width:30%;
			margin:5px;
			height:300px;
			@include media-breakpoint-down(md) {
				min-width: 100%;
			margin:5px;
			}
			border-radius:5px;

			&__subitem {
			border-radius:5px;
				cursor: cell;
				display: flex;
				height: 300px;
				width: 96%;
				margin: 7px;
				box-sizing: border-box;
				align-items: center;
				justify-content: center;
				overflow: hidden;
				background-position: center;
				background-size: cover;
				opacity: 0.9;
				transition: all 0.3s ease-in-out;

				.overlayy {
					width: 100%;
					height: 100%;
					z-index: 2000;
					background-color: rgba(31, 37, 52, 0);
					transition: all 0.4s ease-in-out;
				}

				.content {
					width: 200px;
					height: 200px;
					padding: 5px;
					position: absolute;
					z-index: 3000;
					display: flex;
					flex-direction: column;
					align-items: flex-start;
					justify-content: flex-start;
					display: none;
					opacity: 0;
					transition: all 0.4s ease-in-out;

					&__icon {
						opacity: 0;
						width: 50px;
						height: 50px;
						top: 0px;
					}
					&__body {
						display: flex;
						flex-direction: column;
						align-items: flex-start;
						justify-content: flex-start;
						color: white;
						min-height: 50px;
						margin-left: -20px;

						.redirect {
							color: white;
							text-decoration: none;
							cursor: pointer;
							font-size: $display-font-size-11;
							font-weight: $font-weight-semi-bold;
							display: flex;
							align-items: center;
							justify-content: center;

							&:hover {
								color: lightgray;
							}

							svg {
								margin-left: 5px;
							}
						}

						.separator {
							width: 50%;
							height: 3px;
							margin: 4px 0px 4px 0px;
							background-color: $default-theme-loader-color;
						}

						.title {
							font-weight: $font-weight-bold;
							font-size: $display-font-size-11;
						}
						.description {
							font-size: $display-font-size-12;
						}
					}
					@include flex-center();
				}

				&:hover {
					opacity: 1;
					transform: scale(1.15);
					z-index: 5000;
					.overlayy {
						width: 100%;
						height: 100%;
						z-index: 2000;
						background-color: rgba(31, 37, 52, 0.7);
					}

					.content {
						display: flex;
						opacity: 1;

						&__body {
							color: white;
						}
					}
				}
			}
		}
		}}

		&__filters {
			display: flex;
			flex-direction: column;
			flex: 0.22;
			left: 20px;
			width: 250px;
			border-radius: 10px;
			height: 500px;
			@include media-breakpoint-down(md) {
				display: none;
			}

			.separator {
				width: 100%;
				height: 1px;
				background-color: $default-theme-loader-color;
			}

			.head {
				font-weight: $font-weight-bold;
				margin: 0px 0px 20px 5px;
				opacity: 0.8;
				font-size: $display-font-size-10;
			}
		}

		&__product-list {
			display: flex;
			flex-direction: row;
			flex: 0.78;
			width: 100%;
			flex-wrap: wrap;
			align-items: flex-start;
			@include media-breakpoint-down(md) {
				justify-content: center;
				flex: 1;
				padding: 30px 0px 15px 0px;
			}
			justify-content: flex-start;
			padding: 30px 20px 15px 20px;

			.card {
				width: 440px;
				height: 250px;
				background: white;
				box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
				display: flex;
				flex-direction: column;
				@include media-breakpoint-down(md) {
					margin-top: 30px;
					height: 290px;
					width: 100%;
				}

				&:hover {
					box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
				}

				nav {
					display: flex;
					width: 100%;
					color: #727272;
					text-transform: uppercase;
					padding: 20px;
					border-bottom: 2px solid #efefef;
					font-size: 12px;

					svg.heart {
						height: 24px;
						width: 24px;
						float: right;
						margin-top: -3px;
						transition: all 0.3s ease;
						cursor: pointer;

						&:hover {
							fill: red;
						}
					}
					svg.arrow {
						float: left;
						height: 15px;
						width: 15px;
						margin-right: 10px;
					}
				}

				.content {
					display: flex;
					flex: 1;
					height: 100%;

					.photo {
						box-sizing: border-box;
						display: flex;
						height: 180px;
						flex: 0.4;
						padding: 0px;
						align-items: center;
						justify-content: center;

						img {
							width: 90%;
							height: 90%;
						}
					}

					.description {
						display: flex;
						flex-direction: column;
						flex: 0.6;
						padding: 0px 5px 5px 10px;
						box-sizing: border-box;
						border-left: 2px solid #efefef;

						h1 {
							color: #515151;
							font-weight: 20;
							padding-top: 10px;
							margin: 0;
							font-size: 15px;
							font-weight: 300;
							font-weight: 500;
						}

						h2 {
							color: #515151;
							margin: 0;
							font-size: 10px;
							text-transform: uppercase;
						}

						h4 {
							margin: 0;
							color: #727272;
							text-transform: uppercase;
							font-weight: 500;
							font-size: 12px;
						}

						p {
							font-size: 12px;
							line-height: 20px;
							color: #727272;
							padding: 5px 0;
							margin: 0;
						}

						.button-group {
							display: flex;
							button {
								padding: 7px 0px;
								margin-bottom: 10px;
								text-transform: uppercase;
								width: 100px;
								font-size: 10px;
								font-family: inherit;
								margin-top: 15px;
								transition: all 0.3s ease;
								font-weight: 500;
							}
						}
					}
				}
			}
		}
	}

	&__float-btn {
		background-color: $default-theme-loader-color;
		padding: 8px 30px 8px 30px;
		min-height: 50px;
		border-radius: 0px;
		position: fixed;
		bottom: 0px;
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		cursor: pointer;
		z-index: 1000;
		font-weight: bold;
		box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
		@include media-breakpoint-up(md) {
			display: none;
		}
	}
}
