.lottie-loader {
	position: absolute;
	width: 100%;
	height: 100%;
	overflow: hidden;
	background-color: white;
	display: flex;
	align-items: center;
	z-index: 9999;
}

.bouncebtn {
	position: fixed;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
	width: 45px;
	height: 45px;
	border-radius: 50%;
	background-color: #e8e9ea;
	@include media-breakpoint-down(md) {
		right: 30px;
	}
	right: 70px;
	top: 84%;
	z-index: 10000;
	animation: bounce 1s infinite;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;

	svg {
		font-size: 30px;
		color: $default-primary-color;
	}
}

@keyframes bounce {
	0%,
	20%,
	50%,
	80%,
	100% {
		transform: translateY(0);
	}
	40% {
		transform: translateY(-5px);
	}
	60% {
		transform: translateY(-7px);
	}
}

.custom-bg {
	@include media-breakpoint-down(md) {
		width: 1400px !important;
		height: 700px !important;
	}
	width: 1920px !important;
	height: 800px !important;

	video {
		width: 100% !important;
		height: 100% !important;
	}
}

.custom-cover {
	width: 1920px !important;
	height: 800px !important;

	img {
		width: 100% !important;
		height: 100% !important;
	}
}

.table-bottom-pagination {
	border-bottom: 0px;
	background: white;
	border-top: 1px solid #ededed;
	padding: 1rem;
	display: flex;
	align-items: center;
	justify-content: space-between;

	@include media-breakpoint-down(md) {
		gap: 1rem;
		flex-direction: column;
	}

	&__pages {
		display: flex;
		align-items: center;

		&__buttons {
			padding: 0.25rem 0.75rem;
			// border-radius: 4px;
			border: 1px solid #ededed;
			cursor: pointer;
			color: #95a2b4;
			font-size: 0.85rem;

			&--prev {
				border-radius: 4px 0 0 4px;
				color: black;
				font-weight: 500;
			}

			&--next {
				border-radius: 0 4px 4px 0;
				font-weight: 500;
				color: black;
			}

			&--active {
				color: white;
				border-radius: 5px;
				border: 1px solid $default-primary-color;
				background-color: $default-primary-color;
				font-weight: 600;
			}

			&--disabled {
				opacity: 0.5;
				cursor: not-allowed;
				// pointer-events: none;
			}
		}
	}

	&__rows {
		font-size: 0.85rem;

		&__text {
			color: #9fa2b4;
		}

		&__number {
			border: none;
			margin-left: 0.25rem;
		}
	}
}

.load-more {
	padding: 0px 0px 50px 0px;
	margin-top: -50px;
	display: flex;
	flex-direction: column;
	span {
		font-weight: $font-weight-semi-bold;
		color: $default-primary-color;
		opacity: 0.7;
	}

	b {
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 18px;
		color: blue;
		opacity: 0.7;
		cursor: pointer;

		&:hover {
			opacity: 0.9;
		}

		svg {
			font-size: 20px;
		}

		.a {
			margin-right: 3px;
		}

		.b {
			margin-left: 3px;
		}
	}
	.disabled {
		color: gray;
		opacity: 0.7;
	}
}
