.public-layout-info-nav {
	height: 35px;
	width: 100%;
	@include flex-center();
	background-color: $default-primary-color;
	padding: 0px 100px 0px 100px;
	flex: 1;

	@include media-breakpoint-down(md) {
		display: none;
	}

	&__left {
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: flex-start;
		flex: 0.8;
		color: $default-secondary-color;
		font-size: $font-size-xs;
		@include media-breakpoint-down(lg) {
			font-size: 10px;
		}
		@include media-breakpoint-down(md) {
			font-size: 9px;
		}
		font-weight: 500;

		&__item {
			margin: 0px 10px 0px 10px;
		}

		span {
			margin-left: 5px;
		}
		svg {
			font-size: 16px;
		}
	}
	&__right {
		flex: 0.2;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: flex-end;
		color: $default-secondary-color;

		svg {
			cursor: pointer;
			margin-right: 15px;
			font-size: 18px;
		}
	}
}

.activeHover {
	background-color: $default-primary-color;
	opacity: 1;
	span {
		color: $default-secondary-color;
	}
	svg {
		color: $default-secondary-color;
	}
}
