// ============================================
//     Layout base
// ============================================
// home header height
$header-height-1: 60px;
// dashboard header height
$header-height-2: 70px;
// expanded menu width
$nav-dialod-spacing: 105px;
$menu-width: 265px;
$menu-width-v: 265;
// collapse menu width
$collapse-menu-width: 80px;
$collapse-menu-width-v: 80;

// ============================================
//     Font base
// ============================================
$default-font-family: "Lato", sans-serif;
$default-font-family-2: "Georgia", sans-serif;

// Display font size variation
$display-font-size-1: 3.25rem; // 52px
$display-font-size-2: 3rem; // 48px
$display-font-size-3: 2.75rem; // 44px
$display-font-size-4: 2.5rem; // 40px
$display-font-size-5: 2.25rem; // 36px
$display-font-size-6: 2rem; // 32px
$display-font-size-7: 1.75rem; // 28px
$display-font-size-8: 1.5rem; // 24px
$display-font-size-9: 1.25rem; // 20px
$display-font-size-10: 1rem; // 16px
$display-font-size-11: 0.875rem; //14px
$display-font-size-12: 0.75rem; //12px
$display-font-size-13: 0.73rem; //10px

$font-size-base: $display-font-size-10;
$font-size-sm: $display-font-size-11;
$font-size-xs: $display-font-size-12;

$font-weight-light: 100;
$font-weight-normal: 300;
$font-weight-semi-bold: 400;
$font-weight-bold: 700;
$font-weight-heavy-bold: 900;

$line-height-lg: 2;
$line-height-base: 1.5;
$line-height-sm: 1.2;

// heading
$header-font-style: "Regular";
$header-font-family: "Lato", sans-serif;
$header-font-weight: $font-weight-semi-bold;
$header-bottom-margin: 5px;
$header-color: #000000;
$base-font-weight: $font-weight-normal;

$h1-font-size: $display-font-size-5;
$h2-font-size: $display-font-size-6;
$h3-font-size: $display-font-size-7;
$h4-font-size: $display-font-size-8;
$h5-font-size: $display-font-size-9;
$h6-font-size: $display-font-size-10;

// paragraph
$paragraph-bottom-margin: 10px;
$paragraph-font-size: $display-font-size-10;

// dashboard
$dashboard-font-family: "Inter", sans-serif;
$header-font-size: 32px;
$default-dashboard-header-color: #ffffff;
$default-dashboard-background-color: #f6f6f6;
$default-dashboard-menu-item-color: #121212;
$default-dashboard-menu-background-color: white;
$default-dashboard-sub-menu-background-color: white;
$default-dashboard-active-menu-item-color: #2514e4;
$default-dashboard-menu-item-height: 50px;
$default-dashboard-menu-item-font-size: $display-font-size-11;
$default-dashboard-sub-menu-item-font-size: $display-font-size-11;
$default-dashboard-menu-icon-size: 21px;
$default-dashboard-header-height: 65px;
$default-dashboard-body-font: 0.83rem;
$default-dashboard-header-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;

// sidebar
$default-dashboard-sidebar-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
$default-dashboard-sidebar-background: #fff;
$default-scrollbar-width: 4px;

// home
$home-spacing: 140px;
$home-spacing-2: 40px;
$home-spacing-3: 20px;
$home-spacing-4: 10px;

// modals

$modal-size-md: 600px;
$modal-size-lg: 900px;
$modal-size-sm: 400px;
$modal-size-mobile: 95%;

$simple-modal-padding: 15px;
$theme-modal-padding: 15px;

$default-modal-background-color: #fff;
$modal-title-font-size: $display-font-size-7;
$modal-sub-title-font-size: $display-font-size-10;
$modal-font-family: $default-font-family;
$modal-title-font-weight: $font-weight-semi-bold;
$modal-sub-title-font-weight: $font-weight-semi-bold;

// ============================================
//     Colors
// ============================================
$default-primary-color: #1f2534;
$default-primary-color-bold: #2e3649;
$default-theme-loader-color: #f1c12d;
$default-secondary-color: #fafafc;
$default-info-color: #3fa39e;
$default-link-color: #3c6371;
$default-icon-button-background: #f3f3f3;
$default-success-color: #50a150;
$default-danger-color: #d9534f;
$default-plain-color: #f3f3f3;
$default-warning-color: #f7b331;
$default-top-nav-background: #ffffff;
$default-text-color: #0b0b27;
$default-background-color: #ffffff;
$default-table-head-background-color: #f8fafd;

$dashboard-primary-color: #2514e4;
$dashboard-success-color: #00d0a8;
$dashboard-danger-color: #f95c5c;

$interested-gradient-bg: linear-gradient(180deg, #eaebeaee 0%, rgba(245, 245, 245, 0) 100%);
